.header {
	background-color: #2C3E50;
	margin-bottom: 30px;
}

.header h1, .header a {
	display: inline;
	color: #ECF0F1;
	margin-left: 20px;
}

.user-selected {
	margin-top: 30px;
}

.chevron-down {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.accordion {
	border-style: none solid solid;
	border-width: 1px;
	border-radius:25px;
	margin: 15px 5px;
}

.filter h6 {
	padding-left: 20px;
}

.accordion-header {
	padding: 0 15px;
	border-radius:25px;
	background-color: #ECF0F1;
}

.filter-header:hover {
	color: #7F8C8D;
}

.accordion-body {
	padding: 10px 20px;	
}

.filter-option label {
	margin-left: 20px;
}

.no-border {
	border-style: none;
}

.artist-name {
	font-size: 14px;
}

.artist-panel:hover {
	background-color: #ECF0F1;
	cursor: pointer;
	border-radius: 25px;
};

.artist-panel:active{
	background-color: #BDC3C7;
};