<!DOCTYPE html>
<html>
	<head>
		<title>ListenFirst</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/flat-ui.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row header">
				<h1>ListenFirst</h1>
				<a target="_blank" href="https://github.com/burdell/ListenFirst">source</a>
			</div>
			<div ng-app="ListenFirst">
				<script type="text/ng-template" id="accordionHeading.html">
					<div class="accordion">
						<div class="row accordion-header">
							<h6 ng-click="accordion.bodyShown = !accordion.bodyShown">
								<span ng-class="{'chevron-down': accordion.bodyShown}" class="fui-arrow-right"></span>
								<span>{{ accordion.headerText }}</span>
							</h6>
						</div>
						<div ng-show="accordion.bodyShown" class="row accordion-body" ng-transclude>
						</div>
					</div>
				</script>

				<script type="text/ng-template" id="error.html">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8" ng-show="errorList.length > 0">
							<p class="error-text" ng-repeat="error in errorList">
								{{ error }}
							</p>
						</div>
						<div class="col-md-2"></div>
					</div>
				</script>
				
				<div ng-controller="UserController">
					<div class="row select-user" ng-show="user.settingUserName">
						<form ng-submit="setArtistsForUser()">
							<div class="row">
								<error for="User"></error>
								<div class="col-md-12">
									<input class="form-control" ng-model="user.userName" placeholder="Enter your Last.fm username"/>	
								</div>
							</div>
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8" ng-show="user.loading == true">
									<div class="col-md-6"></div>
									<div class="spinner"><img src="images/ajax-loader.gif" ></div>
								</div>
								<div class="col-md-8" ng-hide="user.loading == true" >
									<button ng-show="user.lastSetUserName" ng-click="user.settingUserName=false" class="btn btn-warning after-first" type="button"><span class="fui-cross"></span>&nbsp;Nope.&nbsp;</button>
									<button ng-class="{ 'first-select': !user.lastSetUserName, 'after-first': user.lastSetUserName }" class="btn btn-primary" ng-disabled="!user.userName" type="submit"><span class="fui-check"></span>&nbsp;Go!&nbsp;</button>
								</div>
								<div class="col-md-2"></div>
							</div>
						</form>
					</div>
					<div ng-show="!user.settingUserName">
						<div class="row" >
							<div class="col-md-12">
							<button ng-click="resetUser()" class="btn btn-info btn-small"><span class="fui-user"></span>  Set New User</button>
							</div>
						</div>
					</div>
					<hr />
					<h4>{{ user.lastSetUserName }}</h4>
				</div>

				<div ng-controller="FilterController">
					<div ng-show="user.lastSetUserName">
						<accordion header-text="Filter">
							<div class="row">
								<div class="col-md-12 filter-option">
								<h6>Show...</h6>
									<label ng-repeat="limit in filter.limitData"> 
										<input type="radio" ng-checked="limit.value == filter.limit" ng-model="filter.limit" value="{{ limit.value }}" />
										{{ limit.text }}
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 filter-option">
								<h6>From...</h6>
									<label ng-repeat="period in filter.periodData"> 
											<input type="radio" ng-checked="period.value == filter.period" ng-model="filter.period" value="{{ period.value }}" />
										{{ period.text }}
									</label>
								</div>
							</div>
						</accordion>
					</div>
				</div>
				
				<div ng-controller="ArtistsController">
					<fieldset>
							<div ng-show="user.lastSetUserName" class="artists-container">
								<accordion header-text="Top Artists" default-open>
									<div ng-show="artists.currentTopArtists" class="artists-container">
										<div class="row">
											<div class="col-md-2 artist-panel" ng-repeat="artist in artists.currentTopArtists">
												<p class="artist-name" title="{{ artist.playcount }} plays" ng-click="getFirstListen(artist.name)">{{ artist.name }}</p>
											</div>
										</div>
									</div>
								</accordion>
								<error for="Artist"></error>
								<div class="artist-input-container row">
									<p>or enter an artist in your library...</p>
									<form ng-submit="getFirstListen(artistSearchTerm)">
										<div class="col-md-7"><input class="form-control" type="text" ng-model="artistSearchTerm" /></div>
										<div class="col-md-5"><button style="width:100%;" class="btn btn-primary" ng-disabled="!artistSearchTerm" type="submit"><span class="fui-check"></span>&nbsp;Go!&nbsp;</button></div>
									</form>
								</div>
								<hr />
							</div>
					</fieldset>
				</div>

				<div ng-controller="TracksController">
					<div ng-show="data.tracks.loading == true" class="spinner"><img src="images/ajax-loader.gif" /></div>
					<div ng-show="data.tracks.firstTrack" class="row">
						<error for="Track"></error>
						<h5>{{ data.user.lastSetUserName }} first listened to {{ data.tracks.firstTrack.artist['#text'] }} on {{ data.tracks.firstTrack.date['#text'] }}</h5>
					</div>
				</div>
			</div>
		</div>

		<!-- vendor scripts -->	
		<script type="text/javascript" src="scripts/vendor/lodash.js"></script>
		<script type="text/javascript" src="scripts/vendor/angular.min.js"></script>
		
		<!-- not vendor scripts -->
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/factories.js"></script>
		<script type="text/javascript" src="scripts/services.js"></script>
		<script type="text/javascript" src="scripts/controllers.js"></script>
		<script type="text/javascript" src="scripts/directives.js"></script>
	</body>
</html>