<div class="row">
	<div></div>
	<div class="col-md-4">
		<a ui-sref="enterUser" class="btn btn-block btn-sm btn-info fui-arrow-left">&nbsp;Enter New User</a>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-12">
		<h4>
			{{ user.name }}
			 <span ng-show="user.realname">({{ user.realname }})</span>
			 <span ng-show="user.playcount"> - {{ user.playcount | number }} total plays</span>
		</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<accordion header-text="Top Artists" default-open>
			<error for="User"></error>
			<div class="artists-container">
				<div class="row">
					<div class="col-md-2 artist-panel" ng-repeat="artist in topArtists">
						<p 
							class="artist-name" 
							title="{{ artist.playcount }} plays" 
							ng-click="getFirstListen(artist.name)">
							{{ artist.name }}
						</p>
					</div>
				</div>
			</div>
		</accordion>
	</div>
</div>