<form ng-submit="goToUserPage()">
	<div ng-show="LastSetUser">
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4">
				<a ui-sref="user({ userName : LastSetUser })" class="btn btn-block btn-sm btn-info">Back to {{ LastSetUser }}&nbsp;<span class="fui-arrow-right"></span></a>
			</div>
		</div>
		<hr />
	</div>

	<div class="row">
		<error for="User"></error>
		<div>
			<input class="form-control" ng-model="enteredUserName" placeholder="Enter your Last.fm username"/>	
		</div>
	</div>
	<div class="row">
		<div>
			<button 
				class="btn btn-primary first-select" 
				ng-disabled="!enteredUserName" 
				type="submit">
					<span class="fui-check"></span>&nbsp;Go!&nbsp;
			</button>
		</div>
	</div>
</form>