<form ng-submit="goToUserPage()">
	<div class="row">
		<error for="User"></error>
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<input class="form-control" ng-model="enteredUserName" placeholder="Enter your Last.fm username"/>	
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" ng-hide="user.loading == true" >
			<button 
				ng-show="user.userName" 
				ng-click="user.settingUserName=false" 
				class="btn btn-warning after-first" 
				type="button">
					<span class="fui-cross"></span>&nbsp;Nope.&nbsp;
			</button>
			<button 
				ng-class="{ 'first-select': !user.userName, 'after-first': user.userName }" 
				class="btn btn-primary" 
				ng-disabled="!enteredUserName" 
				type="submit">
					<span class="fui-check"></span>&nbsp;Go!&nbsp;
			</button>
		</div>
		<div class="col-md-2"></div>
	</div>
</form>